* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: #282D35;
}

nav {
  display: flex;
  background-color: #21222A;
  font-weight: bold;
  color: #61DAFB;
  height: 91px;
  align-items: center;
  justify-content: space-between;
  box-shadow: #21222A 0px 8px 24px;
}

header {
  display: flex;
  align-items: center;
}


header > img {
  width: 50px;
  padding-left: 12px;
}

header > h1 {
  padding-left: 8px;
}
nav > h3 {
  color: white;
  padding-right: 24px;
}


main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  font-weight: bold;


}


main > h1 {
  margin: 0;
  padding-top: 24px;
  color: white;

}


ul > li::marker {
  font-size: 1.6rem;
  color: #61DAFB;

}

main > ul {
  color: white;
  font-weight: 400;
  font-size: 16px;
}

main > ul > li {
  padding-block: 10px;
}
