* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  display: flex;
  background-color: #21222A;
  font-weight: bold;
  color: #61DAFB;
  height: 91px;
  align-items: center;
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center;
}


header > img {
  width: 50px;
  padding-left: 12px;
}

header > h1 {
  padding-left: 8px;
}
nav > h3 {
  color: white;
  padding-right: 24px;
}
